<!DOCTYPE html>

<html lang="ro">

<head>

    <title>Error 403</title>
    <%- include("../fragmente/head") %>;
        <meta name="description" content="Aici veti gasi informatii despre noi">
        <meta name="keywords" content="despre,contact">
</head>


<body class="resize-animation-stopper">
    <%- include("../fragmente/header") %>;
        <main id="main">
            <h2>Error 403</h2>
            <p>Foamea goneste pe lup din padure.</p>
            <img src="/resurse/imagini/403.jpg" alt="Flowers in Chania" class="center">



            <%- include("../fragmente/footer") %>;


        </main>



</body>


</html>