<!DOCTYPE html>

<html lang="ro">

<head>

    <title>Pizeria Half-Slice-Despre noi</title>
    <%- include("../fragmente/head") %>;
        <meta name="description" content="Aici veti gasi informatii despre noi">
        <meta name="keywords" content="despre,contact">
</head>


<body class="resize-animation-stopper">
    <%- include("../fragmente/header") %>;
        <main id="main">

            <div class="class1">
                <img src="/resurse/imagini/bucatar.jpg" alt="Bucatar" id="bucatar">
                <p>Este rezultatul experientei pizzarilor nostri si a produselor de prima calitate. Folosim un Cuptor de caramida refractara alimentat cu lemn de fag care lucreaza la o temperatura de aproximativ 400 grade celsius si care ofera o coacere
                    in mai putin de un minut a pizzei.</p>
            </div>
            <strong>Scurt istoric</strong>
            <p>Povestea restaurantului Pizza-Slice începe în mai 2004, în Galati, din dorința de a crea un spațiu prietenos, în care atât românii, cât și colaboratorii lor străini să se simtă răsfățați. Bucătăria am ales să fie un melanj de mâncăruri tradiționale
                și bucate de inspirație internațională; numitorul comun fiind plăcerea de a mânca o pizza buna, un burger exact cum trebuie. Vă invităm să descoperiți preparatele din bucătăria tradițional urbană. Surpriza a fost că oamenii de afaceri
                s-au simțit atât de bine la Pizza-Slice, încât și-au adus și prietenii pentru un prânz relaxant, au organizat evenimente alături de noi și ne-au ales să le fim alături la fiecare aniversare în familie. Primul restaurant a fost deschis
                în zona Garii din Galati. Cu o terasă îmbietoare, perfectă pentru evenimente deosebite, Pizza-Slice a devenit încă din prima zi locația preferată a multor galateni.</p>


            <%- include("../fragmente/footer") %>;


        </main>



</body>

</html>