tr:nth-child(even) {
    background: var(--c2);
}

tr:nth-child(odd) {
    background: var(--c4);
}

table {
    border-spacing: 1px;
}

tr:hover {
    background-color: var(--c1);
}

.disable {
    pointer-events: none;
}

/*
td:not(:first-child):hover,
td:not(:first-child):hover~td {
    background-color: var(--c1);
}
*/

@media screen and (max-width: 600px) {
    table {
        display: block;
        overflow-x: auto;
        white-space: nowrap;
    }
    tr:nth-child(even):hover {
        background: var(--c2);
    }
    
    tr:nth-child(odd):hover {
        background: var(--c4);
    }
    @media (hover: none) {
        tr:hover {
            color: inherit;
        }
    }
}