<div id="watermark">
</div>
<footer id="footer">
    <address>
        Telefon: <a href="tel:0742812312 ">0712312312</a>.<br>
        Romania, Galati, str. Gavrilas, numarul 18.<br>
        Email: <a href="mailto:pizzslice@yahoo.com ">pizzaslice@yahoo.com</a>.<br>


    </address>
    <a href="# "><i class="fab fa-facebook "></i></a>
    <a href="# "><i class="fab fa-instagram-square "></i></a>
    <a href="# "><i class="fab fa-twitter "></i></a>
    <hr class="style-six ">
    <p><small>&copy;<time datetime="2021-03-06 ">6 martie All rights reserved by Pizza
                Half-Slice</time></small></p>
</footer>
