<header id="header">
    <h1>Pizza Half-Slice</h1>
</header>
<nav>
    <label id="hamburger" for="ch-menu">
    <img src="/resurse/imagini/Hamburger_icon_negru.png" alt="menu">
</label>
    <input id="ch-menu" type="checkbox">
    <ul class="meniu">
        <li id="disabled"><a href="/index">Acasa </a></li>
        <li id="disabled2"><a href="#"><i class="fas fa-house-user"></i></a></li>
        <li><a href="/meniu">Meniu</a></li>
        <li><a href="/despre">Despre noi</a></li>
        <li><a href="#contact/">Contact</a></li>
        <li><a href="#rezervare/">Rezervare</a></li>
        <li><a href="/produse">Produse </a>
            <ul id="abc">
                <li><a href="/post">Produse de post</a></li>
                <li><a href="/limitata">Editie Limitata</a></li>
            </ul>
        </li>
        <li><a href="#cont">Logare </a>
            <ul id="abc">
                <li><a href="#inregistrare">Inregistrare</a></li>
                <li><a href="#logare">Logare</a></li>
            </ul>
        </li>
    </ul>
</nav>